[Desktop Entry]
Version=1.0.2
Name=Shithead
GenericName=Card Game
Comment=Play Shithead against 1-5 AI Players
Exec=
Path=
Icon=
Type=Application
Categories=Application
